<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">

	<parameter name="url" value="https://www.amazon.com" />
	<parameter name="category" value="Books" />
	<parameter name="search" value="data" />
	<parameter name="prodNo" value="4" />
	<parameter name="ignoreCategory" value="Other Sellers" />

	<listeners>
		<listener class-name="AmazonTest.Utils.Listeners" />
	</listeners>

	<test name="AmazonTestFirefox">
	<parameter name="browser" value="firefox" />
		<classes>
			<class name="AmazonTest.Tests.BookSearchTest">
				<methods>
					<include name="search" />
				</methods>
			</class>
		</classes>
	</test> <!-- LoginTest in Firefox-->
	
	<test name="AmazonTestChrome">
	<parameter name="browser" value="chrome" />
		<classes>
			<class name="AmazonTest.Tests.BookSearchTest">
				<methods>
					<include name="search" />
				</methods>
			</class>
		</classes>
	</test>  <!-- LoginTest in Chrome -->	

</suite> <!-- Suite -->
